{% extends 'base.html' %}

{% block title %} home {% endblock %}

{% block content %}
<body background="fundo.png">
    <!-- cabeçalho -->
    <div class="logo">
        <img src="logo.png" alt="logo" style="margin-top: 18px;">
        <div class="link">
            <span>
                <a href="">Home</a> |
            </span>
            <span>
                <a href="quemsomos.html">Quem somos</a> |
            </span>
            <span>
                <a href="contato.html">Contato</a>
            </span>
        </div>
    </div>
    <!-- corpo da capa -->
    <div class="capa">
        <img src="capa.png" alt="capa" style="height: 414px;">
    </div>
    <!-- corpo do texto -->
    <div class="texto1">
        <h2>Sobre a universidade</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, cupiditate autem omnis nihil consectetur
            tempore nemo quibusdam deserunt voluptatem ab accusantium? Consequatur consequuntur tempore libero a? Eum
            sapiente est libero.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat veniam natus ex laborum at minus asperiores
            dolorum neque quos nemo excepturi, molestiae vel exercitationem quaerat quis distinctio, eveniet libero
            cupiditate!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga sint vel nesciunt voluptate laboriosam
            aliquid illum obcaecati magnam consequatur placeat vero possimus reprehenderit incidunt totam, reiciendis
            maiores veniam doloribus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, laboriosam. Ea, inventore perferendis
            asperiores soluta fugit iste, quos error, accusamus aperiam eligendi incidunt minus similique dolorum
            laboriosam totam? Minima, quam!
        </p>
    </div>
    <!-- rodapé -->
    <div class="rodape">
        <h4>Todos os direitos reservados</h4>
    </div>
</body>
{% endblock %}