{% extends 'base.html' %}

{% block title %} quemsomos {% endblock %}

{% block background %} background="{{ url_for('static', filename='imgs/fundo2.png')}}" {% endblock %}

{% block content %}

    <!-- texto -->
    <div class="texto1">
        <h2>Quem somos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis autem, explicabo labore excepturi nemo modi
            tenetur, eos error vel tempora eveniet dicta eaque commodi, necessitatibus debitis velit perspiciatis
            eligendi illum!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas mollitia minima, cum ad aliquid repellat
            perferendis sed quasi labore expedita molestiae deleniti repellendus voluptatum quaerat libero ipsa a illo
            assumenda?
        </p>
        <h2>5 motivos para estudar</h2>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Otima localização</li>
        </ol>
        <hr>
        <h2>Objetivos</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo adipisci vero aperiam, id neque expedita
            quo ab unde tenetur quos eum ipsa odio aut voluptatem laborum distinctio. Necessitatibus, cumque eius.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum fugit, facere iure eveniet accusamus sed
            eum impedit quidem pariatur, vitae non sint. Iusto nihil modi nostrum officiis, enim voluptates perferendis?

        </p>
    </div>

{% endblock %}