img{
    position: absolute;
}

.logo{
    position: relative;
    margin: auto;
    height: 95px;
    width: 900px;
}
.link{
    position: absolute;
    top: 35px;
    right: 0;
}
.capa{
    width: 900px;
    height: 414px;
    margin: auto;
}

.texto1{
    width: 900px;
    margin: auto;
}

.rodape{
    margin: auto;
    width: 15%;
}